# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [192]:
import pandas as pd
import numpy as np
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
tree = ET.parse( 'mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [5]:
# print names of all countries and their cities
for element in tree.iter('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.iter('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [193]:
tree= ET.parse( 'D:\study\Biz\Biz analytics\Springboard\data_wrangling_xml\data_wrangling_xml\data/mondial_database.xml' )

In [194]:
country=tree.getroot()

In [180]:
final = dict()
for country in tree.iterfind('country'):
    temp = dict()
    try:
        temp["mortality"] = country.find('infant_mortality').text
    except:
        pass
    final[country.find('name').text] = temp
df=pd.DataFrame(final).transpose()

In [181]:
#question 1
df=df.sort_values('mortality', ascending=True)
df[df.mortality.notnull()].head(10)

                     mortality
Monaco                    1.81
Romania                  10.16
Fiji                      10.2
Brunei                   10.48
Grenada                   10.5
Mauritius                10.59
Panama                    10.7
Seychelles               10.77
United Arab Emirates     10.92
Barbados                 10.93

In [243]:
#approach 1, question2:
final1 = dict()
for country in tree.iterfind('country'):
    for city in country.iterfind('city'):
        for pop in city.iterfind('population'):
            temp = dict()
            if pop.get('year')=='2011':
                try:
                    temp["population"] = np.float(pop.text)
                except:
                    pass
        final1[city.find('name').text] = temp
df1=pd.DataFrame(final1).transpose()

df1.sort_values('population', ascending=False).head(10)
#why did it get wrong???

            population
Beograd      1639121.0
Montevideo   1318755.0
Sofia        1270284.0
Kathmandu    1003285.0
Zagreb        686568.0
Dublin        525383.0
Skopje        514967.0
Tirana        418495.0
Juba          372410.0
Novi Sad      335701.0

In [225]:
#approach 2, question 2: 
city_list = []
population_list = []
for country in tree.getroot():
    for city in country.getiterator('city'):
        for pop in city.getiterator('population'):
            if (pop.get('year')=='2011'):
                city_list.append(city.find('name').text)
                population_list.append(np.float(pop.text))

city_year_population = {'City':city_list,'Population':population_list}
df2 = pd.DataFrame(data=city_year_population)
df2.sort_values('Population', ascending=False).head(10)

          City  Population
529     Mumbai  12442373.0
554      Delhi  11034555.0
523  Bangalore   8443675.0
418     London   8250205.0
487     Tehran   8154051.0
505      Dhaka   7423137.0
558  Hyderabad   6731790.0
518  Ahmadabad   5577940.0
627     Luanda   5000000.0
542    Chennai   4646732.0

In [ ]:
#question 3